<div>
  <li>
    <h1 class='single-beer'>{{name}}</h1>
    <h3 class='single-beer'>{{tagline}}</h3>
    {{#if image_url}}
      <img src='{{image_url}}' alt='' class='single-beer' />
    {{/if}}
    <p class='single-beer'>{{description}}</p>
  </li>
</div>