<div>
  <h3 class='single-beer inline'>Food pairings:</h3>
  <p class='single-beer inline'>{{food_pairing}}</p>
</div>
<div>
  <h3 class='single-beer inline'>Brewer Tips:</h3>
  <p class='single-beer inline'>{{brewers_tips}}</p>
</div>