<div>
  <img src='/images/beer.png' alt='beer image' />
  <form action='https://google.com'>
    <input type='submit' value='Check the beers!' />
  </form>
  <form action='https://google.com'>
    <input type='submit' value='Check a random beer!' />
  </form>
</div>