<div id='home-page-elements'>
  <img src='/images/beer.png' alt='beer image' />
  <form action='/beers'>
    <input type='submit' value='Check the beers!' />
  </form>
  <form action='/random-beer'>
    <input type='submit' value='Check a random beer!' />
  </form>
</div>